<div class="body-sticky">
<div>
  <div class="col-12-new text-center">
    <div class="background">
      <video class="video" #video autoplay></video>
      <div class="layer"></div>
    </div>
  </div>
</div>
<div>
  <div class="col-12 text-center">
    <div>
      <button class="btn btnConfirm" (click)="showInstructions(1)">Base64 to API 200 OK</button>
      <button class="btn btnConfirm" (click)="showInstructions(3)">Base64 to API 200 KO</button>
      <button class="btn btnConfirm" (click)="showInstructions(5)">Base64 to API 500 KO</button>
    </div>
    <div>
      <button class="btn btnConfirm" (click)="showInstructions(2)">String to API 200 OK</button>
      <button class="btn btnConfirm" (click)="showInstructions(4)">String to API 200 KO</button>
      <button class="btn btnConfirm" (click)="showInstructions(6)">String to API 500 KO</button>
  </div>
  <div class="instruction">
      <span class="instructionContent">{{instruction}}</span>
    </div>
  </div>
</div>
